﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация в Identity";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @ViewData["Title"]
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <fieldset>
                            <div class="form-group row">
                                @*<label asp-for="Input.Email" class="col-sm-2 col-form-label control-label"></label>*@
                                <div class="input-group col-sm-10 col-sm-push-1">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Введите адрес электронной почты" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label asp-for="Input.Password" class="col-sm-2 col-form-label control-label"></label>*@
                                <div class="input-group col-sm-10 col-sm-push-1">
                                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Введите пароль" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label asp-for="Input.ConfirmPassword" class="col-sm-2 col-form-label control-label"></label>*@
                                <div class="input-group col-sm-10 col-sm-push-1">
                                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Повторите пароль" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-sm-push-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary login-button">Регистрация</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-default login-button" role="button" asp-area="" asp-controller="Account" asp-action="Login">Выполнить вход</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
