﻿@using Microsoft.AspNetCore.Identity
@using IdentityServer4.Extensions
@inject SignInManager<IdentityService.Models.ApplicationUser> SignInManager
@inject UserManager<IdentityService.Models.ApplicationUser> UserManager

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<ul class="nav navbar-nav navbar-right">
    @if (@*SignInManager.IsSignedIn(User) || User.Identity.IsAuthenticated &&*@!string.IsNullOrWhiteSpace(name))
    {
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Управление профилем</a>
                </li>
                @*<li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>*@
                <li><a href="#" data-toggle="modal" data-target="#logoutModal">Выйти</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
    }
</ul>