﻿@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-12">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Добро пожаловать к нам на огонек
                <small>(версия IdentityServer4 @version)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Сервис предоставляет
                <a href="~/.well-known/openid-configuration">discovery документ</a>
                где вы можете найти информацию, ссылки на все точки доступа, ключи и т.д.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Нажмите <a href="~/grants">здесь</a> для просмотра и управления предоставленных прав.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Ссылки на 
                <a href="https://github.com/identityserver/IdentityServer4">репозиторий IdentityServer4</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">готовые к использованию примеры</a>.
            </p>
        </div>
    </div>
</div>
