﻿@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Здесь надо написать текст о том что все супер защищено, мы используем <abbr title="Мы используем сертификат и т.п.">HTTPS</abbr> и у нас все <mark>супер-пупер</mark>.</p>
