﻿@model WebMVC.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <br/>
    <br/>
    <p class="h1 text-success text-center">OMG!</p>
    <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive center-block" src="~/images/error.jpg" />
        </div>
    </div>
}
else
{
    <br />
    <br />
    <p class="h2 text-info text-center">You aren't authenticated. Keep calm and try again.</p>
}

