﻿@model IdentityService.ViewModels.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        Logout
        <small>You are now logged out</small>
        @if (Model.PostLogoutRedirectUri != null && Model.AutomaticRedirectAfterSignOutTimeout)
        {
            <span id="countdown" class="badge badge-success"></span>
        }
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
    <div>
        @if (Model.AutomaticRedirectAfterSignOutTimeout)
        {
            @:Вы будете автоматически перенаправлены. Если этого не произошло, нажмите
        }
        else
        {
            @:Нажмите
        }
        <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">здесь</a> для перехода к
        <span>@Model.ClientName</span> приложению.
    </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        @if (!Model.AutomaticRedirectAfterSignOutTimeout)
        {
            <script src="~/js/signout-redirect.js"></script>
        }
        else
        {
            <script src="~/js/signout-redirect-timeout.js"></script>
        }
    }
}
