﻿@model IdentityService.ViewModels.Account.LogoutViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>Выход</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Вы действительно хотите выйти?
            </p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                <fieldset>
                    <div class="form-group row">
                        <input type="submit" name="submit.Accept" class="btn btn-success" value="Yes" />
                        <input type="submit" name="submit.Deny" class="btn btn-danger" value="No" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>