﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Управление аккаунтом</h1>

<div class="container-fluid">
    <h4>Изменение учетных данных пользователя</h4>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-sm-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
