﻿@model WebMVC.ViewModels.ReportTable
<table class="table table-bordered">
    <tbody>
        @foreach (var row in Model.ReportRows)
        {
            <tr>
                @foreach (var cell in row.ReportColumns)
                {
                    <td colspan="@cell.ColumnSpan" style="text-align:center">
                        @Html.DisplayFor(m=> cell.Value)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
