﻿@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment _env
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ой ой.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

<img class="img-responsive" src="~/images/error.jpg"/>

@if (Model.ShowRequestId && !_env.IsDevelopment())
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.HasErrorMessage)
{
    <p class="text-danger h3">
        @Model.ErrorMessage
    </p>
}

@if (_env.IsDevelopment())
{
    <h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
    </p>
}


